div(id="social" class="fadein6")
  a(href="https://plus.google.com/100001972574561549064" rel="publisher")
    img(class="favicon" src="http://s2.googleusercontent.com/s2/favicons?alt=p&domain=plus.google.com")
    | Google+
  a(href="https://www.facebook.com/chupato.server")
    img(class="favicon" src="http://s2.googleusercontent.com/s2/favicons?alt=p&domain=www.facebook.com")
    | Facebook
  a(href="https://www.youtube.com/user/ChupatoChannel")
    img(class="favicon" src="http://s2.googleusercontent.com/s2/favicons?alt=p&domain=www.youtube.com")
    | YouTube
  a(href="https://twitter.com/chupato")
    img(class="favicon" src="http://s2.googleusercontent.com/s2/favicons?alt=p&domain=twitter.com")
    | Twitter
  div(class="spacer")
