doctype html
html(ng-app="app")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(id="wrapper")
      div()
        div(id="banner")
        div(id="menu")
      div(id="content" class="fadein2")
          h1= message
          h2= error.status
          pre #{error.stack}
      div(id="footer")
        include ui/footer
    include scripts

