doctype html
html(ng-app="app")
  head
    title= title
    link(rel='stylesheet' href='/stylesheets/style.css')
  body
    //- ; account = #{JSON.stringify(account)};
    #wrapper(ng-init='loc = #{JSON.stringify(loc)}')
      div(ng-controller="menuCtrl")
        #banner
          include ui/banner
        #menu
          include ui/menu
        #gamefeed(ng-class="gfShow ? 'showed':'hidden'")
        #gf-btn.dark-block.ui(ng-click="gfShow = !gfShow")
          i.fa(ng-class="gfShow ? 'fa-sort-up':'fa-sort-down'")
          | No new notifications in the feed. Click to deploy
          i.fa(ng-class="gfShow ? 'fa-sort-up':'fa-sort-down'")
        #chat
          include ui/chat
      #content.fadein2
        div(ui-view)
      #footer
        include ui/footer
    include scripts
