doctype html
html(ng-app="app")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(id="wrapper", ng-init='loc = #{JSON.stringify(loc)}; test = #{JSON.stringify(banner)}')
      div(ng-controller="menuCtrl")
        div(id="banner")
          include ui/banner
        div(id="menu")
          include ui/menu
      div(id="content" class="fadein2")
        div(ui-view)
      div(id="footer")
        include ui/footer
    include scripts
