#staff(ng-init="staff = #{JSON.stringify(staff)}; roles = #{JSON.stringify(roles)};")
  - if (!role) {
      #staff-error.light-block
        h1 You are not login or your account ins't autorized here.
  - } else {
  -   if (role & roles["VIP"]) {
        include staff_tools/players
  -   }
  -   if (role & roles["GM"]) {
        include staff_tools/tickets
  -   }
  -   if (role & (roles["CM"] | roles["WEB"])) {
        include staff_tools/links
        include staff_tools/content
  -   }
  -   if (role & roles["SQL"]) {
        include staff_tools/sql
  -   }
  -   if (role & roles["C++"]) {
        include staff_tools/recompile
  -   }
  -   if (role & roles["ADMIN"]) {
        include staff_tools/promote
  -   }
  - }
